@import "responsive";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body{
        .hero-section{
            width: 100%;
            height: 100%;
            background-color: rgb(212, 226, 252);
            overflow: hidden;

            .navbar{
                .navbar-brand{
                    margin-left: 20px;
                    color:rgb(35, 84, 197) ;
                    font-size: 25px;
                    font-weight: 700;
                    font-style: bold;
                }
                li{
                    margin-right: 40px;
                   a{
                    font-size: 18px;
                    transition: 0.2s ease-in;
                    &.active{
                        color: #007bff;;
                    }
                    &:hover{
                        transition: 0.2s ease-in;
                        color: #007bff;
                    }
                   }
                    
                }
            }
            .details{
                display: flex;
                .detail-1{
                    margin-top: 200px;
                   
                }
                .detail-box{
                    width: 90%;
                    height: 100%;
                    margin-left:40px;
                    h1{
                        color: rgb(35, 84, 197);
                        font-weight: 600;
                        font-size: 40px;
                        margin-bottom: 30px;
                    }
                    a{
                        display: inline-block;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        text-decoration: none;
                        list-style: none;
                        width: 190px;
                        height: 46px;
                        background-color: #fd7e14;
                        border-radius: 5px;
                        color: #fff;
                        font-size: 15px;
                        font-weight: 600;
                        letter-spacing: 1px;
                    }
                }
                
            }
        }
    
        .future-section{
            width: 100%;
            height: 100%;
            margin-top: -100px;
            overflow: hidden;

            .container{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                .boxes {
                    width: 360px;
                    height: 210px;
                    background-color:#fff ;
                    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 20px;
                    transition: 0.2s ease-in;
                    &:hover{
                        background-color:#fd7e14 ;
                        i{
                            color: #fff;
                        }
                        h5{
                            color: #fff;
                        }
                        transition: 0.2s ease-in;
                    }
                    .box{
                        h5{
                            font-weight: 600;
                        }
                        .img-box{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 15px;
                            i{
                                font-size: 30px;
                                
                            }
                        }
                    }
                    &.active{
                        background-color:#fd7e14;
                        i{
                            color: #fff;
                        }
                        h5{
                            color: #fff;
                        }
                    }
                }
            }
        }
    
        .about-section{
            width: 100%;
            height: 100%;
            margin-top: 100px;
            overflow: hidden;

            .container{
                width: 100%;
                height: 100%;
                .row{
                    margin-top: 50px;
                }
                .detail-box{
                    margin-top: 90px;
                    width: 90%;
                    h2{
                        font-weight: 700;
                        font-size: 35px;
                   }
                   
                   a{
                    display: inline-block;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        text-decoration: none;
                        list-style: none;
                        width: 190px;
                        height: 46px;
                        background-color: rgb(35, 84, 197);
                        color: #fff;
                        font-size: 15px;
                        font-weight: 600;
                        letter-spacing: 1px;
                        margin-bottom: 20px;
                   }
                }
            }
        }

        .professional-section{
            width: 100%;
            height: 100%;
            background-color:rgb(212, 226, 252);
            overflow: hidden;
            padding-top: 120px;
            margin-top:120px ;
            .detail-box{
                padding-top: 150px;
                h2{
                    color: rgb(30, 73, 197);
                    font-weight: 900;
                    margin-bottom: 30px;
                }
                p{
                    margin-bottom: 30px;
                }
                a{
                    display: inline-block;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    text-decoration: none;
                    list-style: none;
                    width: 190px;
                    height: 46px;
                    background-color: #fd7e14;
                    border-radius: 2px;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 600;
                    letter-spacing: 1px;
                }
            }
        }

        .service-section{
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin-top: 100px;
            .heading-container{
                text-align: center;
                margin-bottom: 80px;
            }
            .box{
                -webkit-box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.67);
                -moz-box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.67);
                box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.67);
                transition: 0.2s ease-in;
                height: 250px;
                margin: 20px;
                &:hover{
                    background-color: #fd7e14;
                    transition: 0.2s ease-in;
                    img{
                        filter: brightness(0) invert(1);
                        transition: 0.2s ease-in;
                    }
                    p{
                        color: #fff;
                        transition: 0.2s ease-in;
                    }
                    h5{
                        color: #fff;
                        transition: 0.2s ease-in;
                    }
                }
                .img-box{
                    display: flex;
                        justify-content: center;
                        align-items: center;
                    img{
                        margin: 10px;
                        width:65px;
                        height: 65px;
                        transition: 0.2s ease-in;
                    }
                }
                .detail-box{
                    h5{
                        text-align: center;
                        transition: 0.2s ease-in;
                    }
                    p{
                        padding:5px 10px 5px 10px;
                        text-align: center;
                        transition: 0.2s ease-in;
                    }
                }
            }
            .btn-box{
                margin-top: 20px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    display: inline-block;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        text-decoration: none;
                        list-style: none;
                        width: 190px;
                        height: 46px;
                        background-color: rgb(35, 84, 197);
                        color: #fff;
                        font-size: 15px;
                        font-weight: 600;
                        letter-spacing: 1px;
                        margin-bottom: 20px;
                        transition: 0.2s ease-in;
                        &:hover{
                            color: #007bff;
                            background-color: #fff;
                            border:1px solid #007bff ;
                            transition: 0.2s ease-in;
                        }
                }
            }
        }


.heading-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px -50px 0px;
}
       .slide-section{
        width: 100%;
        height: 100%;
        overflow-x: auto;
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        scrollbar-width: none;
        scroll-behavior: smooth;
        
        .box{
            width: 510px;
            height: 250px;
            -webkit-box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.67);
            -moz-box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.67);
            box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.67);
            margin: 20px;
            .client-id{
                display: flex;
                .img-box{
                    img{
                        border-radius: 50%;
                        padding: 20px;
                    }
                }
                .client-name{
                    margin: 50px 0px 0px 20px;
                }
            }
            
        }
       }

       .controller{
        display: flex;
        justify-content: center;
        align-items: center;
        .btn{
            margin: 5px;
            background-color: black;
            border-radius: 50%;
            i{
                font-size: 20px;
                color: #fff;
            }
        }
       }

       
       .info-section{
        width: 100%;
        height: 100%;
        margin-top: 100px;
        overflow: hidden;
        background-color:rgb(12, 15, 64) ;
        h4{
            margin: 50px;
            text-align: center;
            color: #fff;
            font-weight: 600;
            font-size: 30px;
        }
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            
            .boxes{
                display: flex;
                justify-content:center;
                align-items: center;
                width: 100%;
                .box{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    .img-box{
                        width: 80px;
                        height: 80px;
                        background-color: #007bff;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        margin-bottom: 20px;
                        cursor: pointer;
                        transition: 0.2s ease-in;
                        &:hover{
                            background-color: #fd7e14;
                            color: #fff;
                            transition: 0.2s ease-in;
                        }
                        i{
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #fff;
                            font-size: 20px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    p{
                        color: #fff;
                        
                    }
                }
            }
        }

        .social-box{
            width: 100%;
            height: 100%;
            .container{
                width: 100%;
                height: 100%;
                position: relative;
                margin-bottom: 20px;
                .box{
                    position: absolute;
                    width: 137px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff;
                    a{
                        margin: 5px;
                        i{
                            font-size: 20px;
                        }
                    }
                }
            }
        }


        .footer-section{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
            .container{
                border-top: 1px solid #fff;
                width: 50%;
                p{
                    user-select: none;
                    pointer-events: none;
                    margin-top: 20px;
                    color: #fff;
                }
            }
        }

       }

    }
}